@import './App.scss';

.NavbarContainer {
    padding: var(--containerPadding);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 0px 1px var(--lightGrey);
    z-index: 10;
    background-color: var(--pureWhite);


    .main-nav-wrapper {
        grid-template-columns: auto 100px;

    }

    .page-nav-wrapper {
        grid-template-columns: 50px auto 50px;

    }

    .main-nav-wrapper,
    .page-nav-wrapper {
        display: grid;
        grid-template-rows: 60px;
        align-items: center;

        .left-nav-wrapper {
            .logo-wrapper {
                .logo-txt {
                    font-size: 20px;
                    color: var(--primaryColor);
                }
            }
        }

        .center-nav-wrapper {
            text-align: center;
        }

        .right-nav-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 50px;
            align-items: center;

            .search-icon-wrapper {}


        }
    }
}